
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    background-color: white;
    position: absolute;
    left: 25%;
    top: 30%;
    }
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 80%;
    margin-top: 3rem;
    
    
}
input{
    
    border: none;
    outline: none;
    padding: 20px;
    background-color: #f0eef1;
    border-radius: 1rem;


}


.items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0eef1;
    width: 100%;
    height: 25%; 
    flex-wrap: nowrap;
    border-radius: 1rem;
    padding-right: 10px;
}
#items{
    background-color: n;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   

}
button{
    width: 160px;
    font-size: 2rem;
    background-color:#51bfd0 ;
    color: white;
    border: none;
   cursor: pointer;
}
.entete{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #51bfd0;
    width: 100%;
    position: absolute;
    top: 0;
    
}
a{
    text-decoration: none;
    color: grey;
}
.items.success{
    border:solid 1px #51bfd0;
}
.items.error{
    border:solid 1px red;
}
.items error small{
    visibility: visible;

}
