*{
 box-sizing: border-box;   
}

body{
    
    background-image: url(../img/img-bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 80vh;
  
}

#container{
    width: 400px;
    height: 80vh;
    margin:0 auto;
    margin-top:10%;
    padding: 2vh;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
input{
    outline: none;
    border: none;
}
.items{
    display: flex;
    justify-content: space-between;
    border: solid 2px black;
}